/*
    Citrizon's dotFiles!~
    This is a generic waybar style file
*/

/*
    Preload a theme from the themes

    WARNING! This is essential and if you
    don't import a theme, this style will fall
    apart.
*/
@import "themes/brutal-dark.css";

/*
    You can also integrate pywal if you
    want to but make sure the style definitions
    are compatible with the themes.
*/

/* Generic definitions */
* {
    font-family: "Red Hat Display", "FiraCode Nerd Font Mono", sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

/* Bar definitions */
window#waybar {
    background-color: @background;
    color: @primary;
    border-bottom: 1px solid rgba(32, 32, 32, 0.5);
}

/* Workspace definitions */
#workspaces {
    margin: 0px 0px;
}

#workspaces button {
    color: @secondary;
    background: @background;
    padding: 0px 8px;
    margin: 0px 3px;
    border: 1px solid @secondary;
    border-radius: 9px;
    transition-duration: 0.3s;
}

#workspaces button.active {
    border-color: @primary;
    color: @primary;
}
#workspaces button.urgent {
    border-color: @urgent;
    color: @urgent;
}

#workspaces button:hover {
    background-color: rgba(127, 127, 127, 0.2);
}

#workspaces button * {
    font-family: "FiraCode Nerd Font Mono", sans-serif;
    font-size: 18px;
}

/* Module definitions */
.modules-left {
    margin-left: 7px;
}
.modules-right {
    margin-right: 7px;
    color: @color2;
}

.modules-left,
.modules-right {
    margin-top: 11px;
    margin-bottom: 11px;
}

/* Generic Module definitions */
#battery,
#pulseaudio,
#backlight,
#custom-weather,
#network,
#clock,
#backlight,
#custom-weather,
#custom-media,
#tray,
#memory,
#bluetooth {
    color: @primary;
    background-color: @background;
    padding: 0px 10px;
    border-radius: 9px;
    margin: 0px 3px;
    border: 1px solid @border;
}

/* Connect Bluetooth and Network */
#network {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}
#bluetooth {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -1px;
}

/* Connect memory and battery */
#battery {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}
#memory {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -1px;
}

/* Module-Specific definitions */

#taskbar {
    padding: 0px 2px;
}
#taskbar button {
    padding: 0px;
    margin: 0px 4px;
    color: #ffffff;
    border-radius: 6px;
}
#taskbar button * {
    margin: 0px;
    padding: 0px;
}
#taskbar button.active {
    background-color: #606060;
    border-radius: 6px;
}

#tray {
    padding-right: 2.5px;
}
#tray * {
    margin-right: 10px;
}

/*
    Coloring
    Please make sure that classes are sorted.
*/

#custom-weather,
#workspaces button.active {
    color: @color1;
}

#custom-media {
    color: @color2;
}

#pulseaudio {
    color: @color3;
}

#bluetooth,
#network {
    color: @color4;
}

#memory,
#battery,
#clock {
    color: @color5;
}
